.sidebar {
     box-sizing: border-box;
     grid-area: sidebar;
     background-color: #fff;
     box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
     z-index: 100;
     background: red;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     max-width: 100px;
     padding-top: 30px;
     padding-bottom: 20px;
     max-height: 100vh;
     position: sticky;
     top: 0px;
     /* left: 0; */
}
.followTxt {
     display: inline-block;
     font-size: 1.5rem;
     font-weight: 600;
     color: #fff;
     transform: rotate(-90deg);
     margin-bottom: 80px;
     white-space: nowrap;
     cursor: pointer;
}
