.wrapperWindow {
     box-sizing: border-box;
     display: grid;
     grid-template-columns: 30% 70%;
     grid-template-rows: auto;
     grid-template-areas: 'left right';
     gap: 20px;
}
.wrapperMobile {
     box-sizing: border-box;
     display: grid;
     grid-template-columns: 30% 70%;
     grid-template-rows: auto;
     grid-template-areas:
          'left left'
          'right right';
}

.wrapperMobile .left {
     grid-area: left;
     padding: 0px 10px;
}

.wrapperMobile .right {
     box-sizing: border-box;
     grid-area: right;
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.wrapperWindow .left {
     grid-area: left;
     height: 400px;
     padding: 10px;
}

.wrapperWindow .right {
     box-sizing: border-box;
     grid-area: right;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.wrapperWindow .sectionTitle {
     font-size: 2rem;
     color: rgb(184, 0, 0);
     font-weight: 600;
     margin-bottom: 20px;
}
.wrapperMobile .sectionTitle {
     font-size: 1.7rem;
     color: rgb(184, 0, 0);
     font-weight: 600;
     margin-bottom: 20px;
     text-align: center;
}

.wrapperWindow .subtitle {
     font-size: 1.1rem;
}
.wrapperMobile .subtitle {
     text-align: center;
     line-height: 24px;
     font-size: 1.2rem;
}

.linkText {
     color: rgb(184, 0, 0);
     font-weight: 600;
     text-decoration: underline;
}
.contactInfoWrapper {
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 30px;
}
.wrapperWindow .icon {
     padding: 10px;
     background: red;
     border-radius: 50%;
     color: white;
}
.wrapperMobile .icon {
     padding: 12px 17px;
     background: red;
     border-radius: 50%;
     color: white;
}
.wrapperWindow .info {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 20px;
     font-size: 20px;
}
.wrapperMobile .info {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     font-size: 30px;
}

.infoTxt {
     font-size: 12px;
}

.lbl {
     box-sizing: border-box;
     margin: 5px 5px 0px 5px;
}

.lblWrapper {
     position: relative;
}
.inputLabel {
     box-sizing: border-box;
     position: absolute;
     top: 0px;
     transition: all 0.3s ease-in-out;
     scale: 1;
     color: rgb(160, 160, 160);
     padding: 0px 15px;
}
.inputLabelFocused {
     box-sizing: border-box;
     position: absolute;
     top: -20px;
     left: 0px;
     transition: all 0.3s ease-in-out;
     scale: 0.9;
     color: rgb(61, 61, 61);
     padding: 0px;
}

.inputField {
     box-sizing: border-box;
     padding: 5px 15px;
     font-size: 20px;
     border: none;
     border-bottom: 0.5px solid rgb(160, 160, 160);
     outline: none;
     width: 90%;
}

.inputFieldRequired::after {
     content: ' *';
     color: red;
     font-size: 15px;
}

.checkboxLabel {
     display: flex;
     align-items: flex-start;
     gap: 10px;
     box-sizing: border-box;
     color: rgb(104, 104, 104);
     font-size: 12px;
     width: 90%;
}

.wrapperWindow .btnSend {
     max-width: max-content;
     border: transparent;
     background: rgb(208, 1, 1);
     color: white;
     padding: 7px 7px;
     font-size: 12px;
}
.wrapperMobile .btnSend {
     max-width: max-content;
     border: transparent;
     background: rgb(208, 1, 1);
     color: white;
     padding: 7px 7px;
     font-size: 12px;
     margin: 0 auto;
}
